# backend: Ignore the virtual environments, database, migrations
/backend/**/venv*/
/backend/**/db.sqlite3
/backend/**/migrations
/backend/**/manage.py
/backend/tmp/
/backend/**/__pycache__

# frontend:Ignore the node libraries
/frontend/project/node_modules/
/frontend/project/public/
/frontend/project/package*
#frontend/README*
/frontend/project/babel*
/frontend/project/dist/
/frontend/tmp/
/frontend/project/.brows*
/frontend/project/.eslint*

.git/

