###
 # Environment varables for the Klaverjas app
 #
 # Load the file as env_file in the docker-compose 
###

# General setting
export ENV='xxx'
###################################################################

###################################################################
#### Django settings ####
# Security keys
export SECRET_KEY='xxx'

# Email backend
export EMAIL_HOST='xxx'
export EMAIL_USE_TLS='xxx'
export EMAIL_PORT='xxx'
export EMAIL_HOST_USER='xxx'
export EMAIL_HOST_PASSWORD='xxx'
export DEFAULT_FROM_EMAIL='xxx'


# Django values for Postgres database (not used in development)
export DB_NAME='xxx'
export DB_USER='xxx'
export DB_PASSWORD='xxx'
export DB_HOST='xxx'
export DB_PORT='xxx'

export REDIS_HOST='redis'
###################################################################

###################################################################
#### Postgres database container settings ####
# use the same as used in the django container
# export POSTGRES_DB=$DB_NAME
# export POSTGRES_USER=$DB_USER
# export POSTGRES_PASSWORD=$DB_PASSWORD
###################################################################



