aioredis>=
asgiref>=
async-timeout>=
attrs>=
autobahn>=
Automat>=
cffi>=
channels>=
channels-redis>=
constantly>=
cryptography>=
daphne>=
Django>=
django-computed-property>=
django-cors-headers>=
django-extensions>=
django-filter>=
djangorestframework>=
djangorestframework-simplejwt>=
hiredis>=
hyperlink>=
idna>=
incremental>=
msgpack>=
pkg-resources>=
psycopg2>=
psycopg2-binary
pyasn1>=
pyasn1-modules>=
pycparser>=
PyHamcrest>=
PyJWT>=
pyOpenSSL>=
pytz>=
service-identity>=
six>=
sqlparse>=
Twisted>=
txaio>=
zope.interface>=
