asgiref==3.2.10
Django==3.1
django-computed-property==0.3.0
django-cors-headers==3.4.0
django-extensions==3.0.5
django-filter==2.3.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
# pkg-resources==0.0.0
PyJWT==1.7.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
psycopg2-binary>=2.8
