<html>
    <head>
        <title>Klaverjasfun reset code</title>
    </head>

    <body>
        
        <h2>Reset code voor vernieuwen wachtwoord</h2>

        <p>
            U heeft een code aangevraagd voor het resetten van uw wachtwoord voor klaverjasfun.nl. <br>
            Hieronder ziet u de reset code en de gebruikers gegevens waarop deze code van toepassing is.
        </p>

        <table>
            <tr>
                <td>gebruikers naam </td>
                <td> : {{ username }} </td>
            </tr>
            <tr>
                <td>email adres</td>
                <td> : {{ email }} </td>
            </tr>
            <tr>
                <td>reset code</td>
                <td> : {{ reset_code }} </td>
            </tr>
        </table>

        <p>
            Ga naar https://klaverjasfun.nl/ResetPassword. 
            Hier kunt u de reset_code invullen en vervolgens een nieuw wachtwoord kiezen. <br>
            De reset_code moet binnen 15 minuten gebruikt worden.
        </p>

        <p>
            Wij wensen u veel speelplezier, <br>
            Team klaverjasfun.nl
            <!-- Team klaverjasfun Europa <br>
            Team klaverjasfun Noord Amerika <br>
            Team klaverjasfun Wuustwezel en omstreken <br> -->
        </p>

    </body>

</html>